@model Presentation.ViewModels.ApplicationUserViewModel
<body>
    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
        ViewBag.Title = "WeCoin - Perfil";
        Styles.Render("~/Content/Profile.css");
    }
    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-3" style="text-align: center">
                <h2>Perfil</h2>
                <div class="well">
                    <img src="@Model.ImgUrl" class="img-circle" height="65" width="65" alt="Avatar">
                    <h4> @Model.Name </h4>
                    @{
                        <h5>@(DateTime.Now.Year - Model.BirthDate.Year) anos</h5>
                    }
                    @{
                        if (Session["userId"].ToString().Equals(Model.Id))
                        {
                            <button type="button" class="btn btn-success">Você!</button>
                        }
                        else if (ViewBag.IsFriend)
                        {
                            <button type="button" class="btn btn-success">Amigos</button>
                        }
                        else if (!ViewBag.IsFriend && ViewBag.RequestedFriendship)
                        {
                            <button type="button" class="btn btn-secondary">Solicitação de amizade enviada</button>
                        }
                        else if (!ViewBag.RequestedFriendship)
                        {

                            <button id="requestBtn" type="button" onclick="location.href='@Url.Action("RequestUserFriendship", "UserProfile")?toUserId=@Model.Id'" class="btn btn-info">Enviar pedido de amizade</button>
                        }
                    }
                </div>
                <input type="hidden" value="@Model.Id" />
            </div>

            <div class="col-sm-6">
                <h4>Publicações recentes</h4>
                <hr>
                @{
                    if (Model.Posts.Count > 1)
                    {
                        var posts = Model.Posts.OrderByDescending(p => p.PostTime);

                        for (int i = 0; i < 2; i++)
                        {
                            <h5><span class="glyphicon glyphicon-time"></span> Publicado em @posts.ElementAt(i).PostTime</h5>
                            <p>
                                @posts.ElementAt(i).Content @if (Session["userId"].ToString().Equals(Model.Id))
                                {
                                    <a href="@Url.Action("DeletePost", "UserProfile")?postId=@posts.ElementAt(i).PostId" class="btn btn-danger btn-sm">
                                        <span class="glyphicon glyphicon-remove"></span> Excluir publicação
                                    </a>
                                }
                            </p>
                            <br><br>
                        }
                    }
                    else if (Model.Posts.Count == 1)
                    {
                        <h5><span class="glyphicon glyphicon-time"></span> Publicado em @Model.Posts.First().PostTime</h5>
                        <p>
                            @Model.Posts.First().Content @if (Session["userId"].ToString().Equals(Model.Id))
                            {
                                <a href="@Url.Action("DeletePost", "UserProfile")?postId=@Model.Posts.First().PostId" class="btn btn-danger btn-sm">
                                    <span class="glyphicon glyphicon-remove"></span> Excluir publicação
                                </a>
                            }
                        </p>
                        <br><br>
                    }
                }
            </div>

            <div class="col-sm-3" style="text-align: center">
                <h2>Amigos</h2>
                <div class="well">
                    @{
                        int aux = 0;
                        foreach (var friends in Model.Friends)
                        {
                            if (aux < 3 && friends.Accepted)
                            {
                                <a href="@Url.Action("Details", "UserProfile")?userId=@friends.ToApplicationUser.Id"><img src="@friends.ToApplicationUser.ImgUrl" class="img-circle" height="65" width="65" alt="Avatar"></a>
                                <h4> @friends.ToApplicationUser.Name </h4>
                                <h5>@(DateTime.Now.Year - friends.ToApplicationUser.BirthDate.Year) anos</h5>
                                aux++;
                                continue;
                            }
                            break;
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts
{
    <script>
        $("#notificationBtn").hide();
        $("#requestBtn").click(function () {
            $(this).attr("disabled", "disabled");
        })
    </script>
}