@model Presentation.ViewModels.ApplicationUserViewModel
<body>
    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
        ViewBag.Title = "WeCoin - Perfil";
        Styles.Render("~/Content/Profile.css");
    }
    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-3 well" style="text-align: center">
                <img src="@Model.ImgUrl" class="img-circle" height="65" width="65" alt="Avatar">
                <h4> @Model.Name </h4>
                <button type="button" class="btn btn-light">
                    @Html.ActionLink("Enviar pedido de amizade", "MakeFriendshipRequest", "UserProfile", routeValues: new { toUserId = Model.Id }, htmlAttributes: null)
                </button>
                <input type="hidden" value="@Model.Id" />
            </div>

            <div class="col-sm-9">
                <h4><small>Publicações recentes</small></h4>
                <hr>
                @for (int i = Model.Posts.Count - 2; i < Model.Posts.Count; i++)
                {//TODO: checar possibilidade do usuário não ter um ou mais posts para exibição
                    <h5><span class="glyphicon glyphicon-time"></span> Publicado em @Model.Posts.ElementAt(i).PostTime</h5>
                    <p>@Model.Posts.ElementAt(i).Content</p>
                    <br><br>
                }
            </div>
        </div>
    </div>
</body>

@section Scripts
{
    <script>
        $("#notificationBtn").hide();
    </script>    
}