@model Presentation.ViewModels.ApplicationUserViewModel
<body>
    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
        ViewBag.Title = "WeCoin - Home";
        Styles.Render("~/Content/PostList.css");
    }

    <style>
        p {
            word-break: break-all;
            white-space: normal;
            word-wrap: break-word;
        }
    </style>

    <div class="text-center" style="margin-top: 3%">
        <div class="row">

            <div class="col-sm-3">
                <div class="well">
                    <img src="@Model.ImgUrl" class="img-circle" height="130" width="130" alt="Avatar">
                    <p>@Html.ActionLink(Model.Name, "Details", "UserProfile", routeValues: new { userId = Model.Id }, htmlAttributes: null)</p>
                </div>

                <div style="min-width: 120px" class="coinmarketcap-currency-widget" data-currencyid="328" data-base="BRL" data-secondary="USD" data-ticker="true" data-rank="false" data-marketcap="true" data-volume="true" data-stats="USD" data-statsticker="true"></div>

                <div class="alert alert-success fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    <p><strong>Futuras Atualizações:</strong></p>
                    Mais moedas para minerar e ficar de olho!
                </div>
            </div>

            <div class="col-sm-6" style="text-align: center">
                @using (Html.BeginForm("CreateUserPost", "User", FormMethod.Post, new { id = "postForm" }))
                {
                    @Html.AntiForgeryToken()
                    <form class="form-horizontal well" role="form">
                        <h4>Crie seu post na WeCoin:</h4>
                        @if (TempData["IsPostEmpty"] != null && (bool)TempData["IsPostEmpty"] == true)
                        {
                            <h5 style="color: red">Não é possível criar post em branco.</h5>
                        }
                        <textarea class="form-control input-lg" name="Content" style="min-width: 100%" placeholder="Crie seu post!"></textarea>
                        <input type="submit" id="postBtn" value="Publicar" class="btn btn-primary pull-right" />
                        <ul class="list-inline">
                            <li><a href=""><i class="glyphicon glyphicon-upload"></i></a></li>
                            <li><a href=""><i class="glyphicon glyphicon-camera"></i></a></li>
                            <li><a href=""><i class="glyphicon glyphicon-map-marker"></i></a></li>
                        </ul>
                    </form>
                }

                <div class="row">
                    <h4>Sua última publicação</h4>
                    <div class="col-sm-3">
                        <div class="well">
                            <p>@Model.Name</p>
                            <a href="@Url.Action("Details", "UserProfile")?userId=@Model.Id"><img src="@Model.ImgUrl" class="img-circle" height="55" width="55" alt="Avatar" /></a>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="well">
                            @{
                                if (Model.Posts.Count > 0)
                                {
                                    <p>@Model.Posts.OrderByDescending(p => p.PostTime).First().Content</p>
                                }
                                else
                                {
                                    <i>Você ainda não tem nenhuma publicação</i>
                                }
                            }
                        </div>
                    </div>
                </div>

                <h4>Publicações mais recentes dos seus amigos</h4>
                @foreach (var friend in Model.Friends)
                {
                    if (friend.ToApplicationUser.Posts.Count > 0 && friend.Accepted)
                    {
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="well">
                                    <p>@friend.ToApplicationUser.Name</p>
                                    <a href="@Url.Action("Details", "UserProfile")?userId=@friend.ToApplicationUser.Id"><img src="@friend.ToApplicationUser.ImgUrl" class="img-circle" height="55" width="55" alt="Avatar" /></a>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="well">
                                    <p>@friend.ToApplicationUser.Posts.OrderByDescending(p => p.PostTime).First().Content</p>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>

            <div class="col-sm-3">
                <div class="form-horizontal">

                    <div class="thumbnail">
                        <h8>Você pode nos ajudar a manter os servidores, basta minerar junto com a gente !<br />Com esse minerador você ajuda a manter a rede social viva!</h8>
                    </div>

                    <div class="coinhive-miner" style="width: 262px; height: 310px;" data-key="e7kSeLwWFLxMIRyT5hwp5VATl0aiwKPA">
                        <em>Loading...</em>
                    </div>

                    <div class="thumbnail">
                        <h8>Minere para você mesmo enquanto usar a rede social!</h8>
                    </div>

                    <div class="miner">
                        <div class="pulse-button" id="myBtn"></div>
                        <div class="text-input" id="xmraddress">
                            @Html.TextBoxFor(model => model.WalletAddress, null, new { placeholder = "Sua carteira monero aqui", name = "xmrAddress", id = "moneroaddress", @value = ViewBag.CompName })
                            <label for="moneroaddress">
                                <i class="fa fa-paper-plane-o"></i>
                                XMR
                            </label>
                        </div>
                        <label id="poolselector" class="field" for="img_category" data-value="">
                            <span id="pooltext">
                                <i class="fa fa-bank ">&thinsp;</i>
                                Você estará minerando na pool:
                            </span>
                            <div id="img_category" class="psuedo_select" name="img_category">
                                <ul id="img_category_options" class="options">
                                    <li class="option" id="selectedpool">minemonero.pro</li>
                                </ul>
                            </div>
                        </label>
                        <button class="button darkbutton" id="startbutton">Começe a minerar</button>
                        <div id="minerout" class="outerrow">
                            <textarea class="logarea" id="logger" style="width: 280px; height:auto"></textarea>
                            <div class="flexrow">
                                <figure style="overflow:visible;" id="spinners">
                                    <div id="spinner" class="spin"></div>
                                </figure>
                                <div class="flexrow">
                                    <div class="flexcol">
                                        <div class="item">
                                            <i class=" 	fa fa-server"></i>
                                        </div>
                                        <div class="item">
                                            <i id="reconnect_icon" class="fa fa-microchip"></i>
                                        </div>

                                        <div class="item">
                                            <i class=" 	fa fa-rocket"></i>
                                        </div>
                                        <div class="item">
                                            <i class=" 	fa fa-dashboard"></i>
                                        </div>
                                    </div>
                                    <div class="flexcol2">

                                        <div class="item" id="statustext">DISCONNECTED</div>

                                        <div class="item">
                                            <span type="text" name="something" id="numspin">1</span>
                                            <span class="plusminus" id="spinup">+</span>
                                            <span>/</span>
                                            <span class="plusminus" id="spindo">-</span>
                                            <span>Threads</span>
                                        </div>

                                        <div class="slidecontainer flexrow2">
                                            <div class="flexrow2"> Força da CPU</div>
                                            + <input type="range" min="0" max="100" value="0" class="slider" id="throttler"> -
                                        </div>
                                        <div class="item" id="speed">0 H/S</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div id="userNotifications">
                </div>

            </div>
        </div>
    </div>
</body>

@section Scripts
{
    @Scripts.Render("~/Scripts/coinHive.js")
    @Scripts.Render("~/Scripts/webmr_xmr.js")
    @Scripts.Render("~/Scripts/functions.js")
    @Scripts.Render("~/Scripts/cntc.js")
    @Scripts.Render("~/Scripts/elements_xmr.js")
    @Scripts.Render("~/Scripts/currency.js")

    <script>
        if (window.canRunAds === undefined)
            alert('Detectamos um bloqueador de anúncios no seu navegador. Por favor desative este bloqueador para habilitar as funções de mineração do site.');

        $("#postBtn").click(function () {
            $(this).attr("disabled", "disabled");
            $("#postForm").submit();
        });

        @foreach (var notification in Model.Notifications)
        {
            @:$("#userNotifications").append("<br /><br />");
            @:$("#userNotifications").append("<div style='width:100%;background:coral;border:2px solid'><p>@notification.Message</p></div>");
            @:$("#userNotifications").append(`<button data-notification-message="@notification.Message" data-notification-id="@notification.NotificationId" data-issuer="@notification.NotificationIssuer.Id" class="acceptBtn btn btn-success" style='width:45%' type='button' class='btn btn-success btn-sm'><a class="links">Aceitar</a></button>`);
        }

        $(".acceptBtn").click(function () {
            $(this).attr("disabled", "disabled");
            $.ajax({
                url: "https://wecoinappdebug.azurewebsites.net/User/AcceptFriendshipRequest",
                type: "get",
                data: {
                    "toUserId": $(this).attr("data-issuer"),
                    "notificationId": $(this).attr("data-notification-id"),
                    "notificationMessage": $(this).attr("data-notification-message")
                },
                success: function () {
                },
                dataType: "json"
            });
            window.location.reload(true);
        });

    $("#notification_bar").append($("#userNotifications"));
    </script>
}