@using System.Security.Policy
@model Presentation.ViewModels.ApplicationUserViewModel
<body>
    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
        ViewBag.Title = "WeCoin - Home";
        Styles.Render("~/Content/PostList.css");
    }
    <div class="container text-center" style="margin-top: 3%">
        <div class="row">


            <div class="col-sm-3">
                <div class="well">
                    <img src="@Model.ImgUrl" class="img-circle" height="65" width="65" alt="Avatar">
                    <p>@Html.ActionLink(Model.Name, "Details", "UserProfile", routeValues: new { userId = Model.Id }, htmlAttributes: null)</p>
                </div>

                <div class="well">
                    <p><a href="#">Interests</a></p>
                    <p>
                        <span class="label label-default">News</span>
                        <span class="label label-primary">W3Schools</span>
                        <span class="label label-success">Labels</span>
                        <span class="label label-info">Football</span>
                        <span class="label label-warning">Gaming</span>
                        <span class="label label-danger">Friends</span>
                    </p>
                </div>
                <div class="alert alert-success fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    <p><strong>Ey!</strong></p>
                    People are looking at your profile. Find out who.
                </div>
            </div>

            <div class="col-sm-6" style="text-align: center">
                @using (Html.BeginForm("CreateUserPost", "User"))
                {
                    @Html.AntiForgeryToken()
                    <form class="form-horizontal well" role="form">
                        <h4>O que é que há, velhinho?</h4>
                        <textarea class="form-control input-lg" name="Content" style="min-width: 100%" placeholder="Dá o papo"></textarea>
                        <input type="submit" value="Publicar" class="btn btn-primary pull-right" /><ul class="list-inline"><li><a href=""><i class="glyphicon glyphicon-upload"></i></a></li><li><a href=""><i class="glyphicon glyphicon-camera"></i></a></li><li><a href=""><i class="glyphicon glyphicon-map-marker"></i></a></li></ul>
                    </form>
                }

                @foreach (var friend in Model.Friends)
                {
                    if (friend.ToApplicationUser.Posts.Count > 0 && friend.Accepted)
                    {
                        <div class="row">
                            <h4>Publicações dos seus amigos</h4>
                            <div class="col-sm-3">
                                <div class="well">
                                    <p>@friend.ToApplicationUser.Name</p>
                                    <a href="@Url.Action("Details", "UserProfile")?userId=@friend.ToApplicationUser.Id"><img src="@friend.ToApplicationUser.ImgUrl" class="img-circle" height="55" width="55" alt="Avatar" /></a>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="well">
                                    <p>@friend.ToApplicationUser.Posts.First().Content</p>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>

            <div class="form-horizontal">
                <div class="col-sm-3">
                    <div class="pulse-button" id="myBtn"></div>
                    <div class="thumbnail">

                        <div class="allSides">
                            <img src="miner.png?v=4.0" alt="minerpng">

                            <!-- MONERO ADDRESS -->
                            <div class="text-input" id="xmraddress">
                                <input type="text" id="moneroaddress" placeholder="Your Monero address goes here." name="xmrAddress" autocomplete="username"></input>
                                <label for="moneroaddress">
                                    <i class="fa fa-paper-plane-o"></i>
                                    XMR
                                </label>
                            </div>
                            <label id="poolselector" class="field" for="img_category" data-value="">
                                <span id="pooltext">
                                    <i class="fa fa-bank ">&thinsp;</i>
                                    Select a pool
                                </span>
                                <div id="img_category" class="psuedo_select" name="img_category">
                                    <span class="selected" id="selectedpool"></span>
                                    <ul id="img_category_options" class="options">
                                        <li class="option">moneropool.com</li>
                                    </ul>
                                </div>
                                <!-- START MINING -->
                                <button class="button darkbutton" id="startbutton">Start mining</button>
                                <div id="minerout" class="outerrow">
                                    <textarea class="logarea" id="logger"></textarea>
                                    <div class="flexrow">
                                        <figure style="overflow:visible;" id="spinners">
                                            <div id="spinner" class="spin"></div>
                                        </figure>
                                        <div class="flexrow">
                                            <div class="flexcol">
                                                <div class="item">
                                                    <i class=" 	fa fa-server"></i>
                                                </div>
                                                <div class="item">
                                                    <i id="reconnect_icon" class="fa fa-microchip"></i>
                                                </div>

                                                <div class="item">
                                                    <i class=" 	fa fa-rocket"></i>
                                                </div>
                                                <div class="item">
                                                    <i class=" 	fa fa-dashboard"></i>
                                                </div>
                                            </div>
                                            <div class="flexcol2">

                                                <div class="item" id="statustext">DISCONNECTED</div>

                                                <div class="item">
                                                    <span type="text" name="something" id="numspin">1</span>
                                                    <span class="plusminus" id="spinup">+</span>
                                                    <span>/</span>
                                                    <span class="plusminus" id="spindo">-</span>
                                                    <span>THREADS</span>
                                                </div>

                                                <div class="slidecontainer flexrow2">
                                                    <div class="flexrow2">THROTTLE</div>
                                                    <input type="range" min="0" max="100" value="0" class="slider" id="throttler">
                                                </div>
                                                <!-- 						<div class="item showpointer" id="reconnect_text">AUTO-RECONNECT</div> -->

                                                <div class="item" id="speed">0 H/S</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>

                    <div id="userNotifications">
                    </div>

                </div>
            </div>
</body>

@section Scripts
{
    @Scripts.Render("~/Scripts/webmr_xmr.js")
    @Scripts.Render("~/Scripts/buttons.js")
    @Scripts.Render("~/Scripts/tab.js")
    @Scripts.Render("~/Scripts/functions.js")
    @Scripts.Render("~/Scripts/dropdown.js")
    @Scripts.Render("~/Scripts/elements_xmr.js")

    <script>
        @foreach (var notification in Model.Notifications)
        {
            @:$("#userNotifications").append("<br /><br />");
            @:$("#userNotifications").append("<div style='width:100%;background:coral;border:2px solid'><p>@notification.Message</p></div>");
            @:$("#userNotifications").append(`<button data-notification-message="@notification.Message" data-notification-id="@notification.NotificationId" data-issuer="@notification.NotificationIssuer.Id" class="acceptBtn btn btn-success" style='width:45%' type='button' class='btn btn-success btn-sm'><a class="links">Aceitar</a></button>`);
        }

        //TODO: implementar botão de recusa de amizade e remoção de notificação
        //$("#userNotifications").append(`<button class="deleteBtn" style='width:45%' type='button' class='btn btn-success btn-sm'><a data-issuer="@*@notification.NotificationIssuer.Id*@" class="links">Aceitar</a></button>`

        $(".acceptBtn").click(function () {
        $.ajax({
            url: "http://localhost:2178/User/AcceptFriendshipRequest",
            type: "get",
            data: {
                "toUserId": $(this).attr("data-issuer"),
                "notificationId": $(this).attr("data-notification-id"),
                "notificationMessage": $(this).attr("data-notification-message")
            },
            success: function () {
            },
            dataType: "json"
        });
        })

    $("#notification_bar").append($("#userNotifications"));
    </script>
}