@using System.Security.Policy
@model Presentation.ViewModels.ApplicationUserViewModel
<body>
    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
        ViewBag.Title = "WeCoin - Home";
        Styles.Render("~/Content/PostList.css");
    }
    <div class="container text-center" style="margin-top: 3%">
        <div class="row">


            <div class="col-sm-3">
                <div class="well">
                    <img src="/padrao.png" class="img-circle" height="65" width="65" alt="Avatar">
                    <p>@Html.ActionLink("Meu perfil", "Profile", "Home")</p>
                </div>

                <div class="well">
                    <p><a href="#">Interests</a></p>
                    <p>
                        <span class="label label-default">News</span>
                        <span class="label label-primary">W3Schools</span>
                        <span class="label label-success">Labels</span>
                        <span class="label label-info">Football</span>
                        <span class="label label-warning">Gaming</span>
                        <span class="label label-danger">Friends</span>
                    </p>
                </div>
                <div class="alert alert-success fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    <p><strong>Ey!</strong></p>
                    People are looking at your profile. Find out who.
                </div>
            </div>

            <div class="col-sm-6" style="text-align: center">
                @using (Html.BeginForm("CreateUserPost", "User"))
                {
                    @Html.AntiForgeryToken()
                    <form class="form-horizontal well" role="form">
                        <h4>O que é que há, velhinho?</h4>
                        <textarea class="form-control input-lg" name="Content" style="min-width: 100%" placeholder="Dá o papo"></textarea>
                        <input type="submit" value="Publicar" class="btn btn-primary pull-right" /><ul class="list-inline"><li><a href=""><i class="glyphicon glyphicon-upload"></i></a></li><li><a href=""><i class="glyphicon glyphicon-camera"></i></a></li><li><a href=""><i class="glyphicon glyphicon-map-marker"></i></a></li></ul>
                    </form>
                }

                @foreach (var friend in Model.Friends)
                {
                    if (friend.ToApplicationUser.Posts.Count > 0)
                    {
                    <div class="row">
                        <h4>Publicações dos seus amigos</h4>
                        <div class="col-sm-3">
                            <div class="well">
                                <p>@friend.ToApplicationUser.Name</p>
                                <img src="@friend.ToApplicationUser.ImgUrl" class="img-circle" height="55" width="55" alt="Avatar">
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="well">
                                <p>@friend.ToApplicationUser.Posts.First().Content</p>
                            </div>
                        </div>
                    </div>
                    }
                }
            </div>

            <div class="form-horizontal">
                <div class="col-sm-3">
                    <div class="thumbnail">
                        <p>MINERAR AQUI</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

@section Scripts
{
    <script>

    </script>
}