@model IEnumerable<Presentation.ViewModels.ApplicationUserViewModel>

@{
    ViewBag.Title = "Usuários do site";
}

<h2>Usuários do site</h2>

<style>
    th {
        text-align: center;
    }

    td {
        text-align: center;
    }
</style>

@using (Html.BeginForm("ListFilteredUsers", "User", FormMethod.Post))
{
    <div class="input-group">
        <span class="input-group-btn">
            <button class="btn btn-secondary" type="submit">Buscar</button>
        </span>
        <input type="text" name="pSearch" id="pSearch" class="form-control" placeholder="Buscar alguém pelo primeiro nome...">
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImgUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WalletAddress)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("Details", "UserProfile")?userId=@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.ImgUrl)" class="img-circle" height="65" width="65" alt="Avatar" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WalletAddress)
            </td>
        </tr>
    }

</table>

<div class="col-lg-12 text-center well">

    <a href="@Url.Action("ListUsers", "User")?offset=@(Int32.Parse(TempData["offset"].ToString()) - 5)&quantity=5" class="btn btn-primary">
        <i class="glyphicon glyphicon-chevron-left"></i>
    </a>

    <a href="@Url.Action("ListUsers", "User")?offset=@(Int32.Parse(TempData["offset"].ToString()) + 5)&quantity=5" class="btn btn-primary">
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>

    <div class="form-group">
        <h3>@TempData["errorMsg"]</h3>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $("#myAccountBtn").hide();
        $("#logoutBtn").hide();
        $("#notificationBtn").hide();
    </script>
}