@model Presentation.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Login - WeCoin: the best for the best";
    reCaptcha.ReCaptcha.GetHtml(ViewBag.publicKey);
}

<div class="container">
    <div class="row">
        <div class="container-fluid col-md-offset-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-lock"></span> Login
                </div>
                <div class="panel-body">
                    @Styles.Render("~/Content/Login.css")

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                    <div class="form-horizontal" role="form">

                        <p style="text-align: center;color: red;font-weight: bolder">@ViewBag.Message</p>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @type = "email" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="inputPassword3" class="col-md-2 control-label">
                                Senha
                            </label>
                            <div class="col-md-10">
                                <input type="password" name="Psw" class="form-control" id="inputPassword3" placeholder="Senha" required>
                            </div>
                        </div>

                        @reCaptcha.ReCaptcha.GetHtml(@ViewBag.publicKey, null, null, null, "pt-BR") <br />

                        <div class="form-group">
                            <div class="col-md-10">
                                <input id="registerBtn" class="btn btn-sm btn-success" type="submit" value="Logar" />
                                <button type="reset" class="btn btn-default btn-sm">
                                    Limpar campos
                                </button>
                            </div>
                        </div>
                    </div>

                        if (ViewBag.RecaptchaLastErrors != null)
                        {
                            <h5>Prove que você é um humano!</h5>
                        }

                    }
                </div>
                <div class="panel-footer">
                    Não tem cadastro? @Html.ActionLink("Clique aqui para se cadastrar", "Register", "Register")
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $("hr").hide();
        $("footer").hide();
        $("#myAccountBtn").hide();
        $("#searchComponent").hide();
        $("#notificationBtn").hide();
        $("#logoutBtn").hide();
    </script>
}